@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: black;
}
header{
    background: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    border-bottom: #ffffff 3px solid;

}
header img{
    height: 60px;
    margin-left: 20px;
  
}
header nav{
    padding: 0 20px 0 0;
    justify-self: right;
}
header nav a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Fragment Mono", monospace;
    font-size: 25px;
    margin-left: 20px;
}
header nav a:hover{
    color: rgb(132, 132, 132);
    transition: 0.2s;
    
}
.intro{
    display: flex;
    margin: 40px 0 80px 0;
    height: 550px;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(87, 87, 87, 0.38) 0%, rgba(0, 0, 0, 1) 100%), url("https://sejongvina.com/images/thumbs/0000587_Palnetary%20Gear_1450.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border: #ffffff 0px solid;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Fragment Mono", monospace;
    font-size: 50px;
    text-shadow: #ffffff 0px 0px 20px;
}
main{
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    width: 80rem;
    margin: auto;
    flex-grow: 3;
}

footer{
    background: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Fragment Mono", monospace;
}

.ett{
    font-family: "Fragment Mono", monospace;
    font-size: 18px;
    margin-bottom: 80px;
    text-align: left;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    border: rgba(255, 255, 255, 0) 4px solid;
    border-radius: 1rem;
    background: white;
    box-shadow: white 0px 0px 20px;
}
.ett img{
    height: 300px;
    width: 600px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: #ffffff 0px solid;
    border-radius: 1rem;
}

.ett p{
    padding: 20px;
    line-height: 1.5;
}

.två{
    font-family: "Fragment Mono", monospace;
    font-size: 18px;
    margin-bottom: 80px;
    text-align: left;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    border: rgba(0, 0, 0, 0) 4px solid;
    border-radius: 1rem;
    background: white;
    box-shadow: white 0px 0px 20px;
}
.två img{
    height: 300px;
    width: 600px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: #ffffff 0px solid;
    border-radius: 1rem;
}

.två p{
    padding: 60px 20px 20px 20px;
    line-height: 1.5;
}

.tre{
    font-family: "Fragment Mono", monospace;
    font-size: 18px;
    margin-bottom: 80px;
    text-align: left;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    border: rgba(0, 0, 0, 0) 4px solid;
    border-radius: 1rem;
    background: white;
    box-shadow: white 0px 0px 20px;
}
.tre img{
    height: 300px;
    width: 600px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: #ffffff 0px solid;
    border-radius: 1rem;
}

.tre p{
    padding: 80px 20px 20px 20px;
    line-height: 1.5;
}

.fyra{
    font-family: "Fragment Mono", monospace;
    font-size: 18px;
    padding: 20px 10px 20px 10px;
    margin-bottom: 80px;
    text-align: left;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    height: fit-content;
    border: rgba(0, 0, 0, 0) 4px solid;
    border-radius: 1rem;
    background: white;
    box-shadow: white 0px 0px 20px;
}
.fyra button{
    margin-left: 20px;
    height: 50px;
    width: 120px;
    font-family: "Fragment Mono", monospace;
    font-size: 18px;
    border-radius: 8px;
    border: black 2px solid;
    background: black;
    color: white;
    cursor: pointer;}
button:hover{
    background: white;
    color: black;
    transition: 0.2s;
 }