*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
}
header{
    background: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;

}
header img{
    height: 60px;
    margin-left: 20px;
  
}
header nav{
    padding: 0 20px 0 0;
    justify-self: right;
}
header nav a{
    text-decoration: none;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-left: 20px;
}
header nav a:hover{
    color: rgb(132, 132, 132);
    transition: 0.2s;
    
}
main{
    padding-top: 80px;
}